<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard da Biblioteca</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/dash.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/toast.css">
</head>
<body>
    <div class="dashboard">
        <div class="toast-container"></div>
        <main class="main-content">
            <div class="top-bar">
                <button class="menu-toggle" id="menu-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <%- include('partials/menu.ejs') -%>
            <div class="page-header">
                <div class="page-header-content">
                    <div>
                        <h1 class="page-title">Gerenciamento de Alunos</h1>
                        <p class="page-subtitle">Gerencie os alunos com acesso a biblioteca</p>
                    </div>
                    <button class="add-button btn-md" data-bs-toggle="modal" data-bs-target="#addStudentModal">
                        <i class="ri-add-line"></i>
                        Adicionar
                    </button>
                </div>
            </div>

            <div class="table-controls">
                <input type="text" id="searchInput" placeholder="Procurar...">
                <select id="itemsPerPage">
                    <option value="5">5 por página</option>
                    <option value="10">10 por página</option>
                    <option value="20">20 por página</option>
                </select>
            </div>
            <div class="table-container">
                <table id="booksTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>RA</th>
                            <th>Sala</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(students.length === 0) { %>
                            <tr>
                                <td colspan="6">
                                    <div class="no-data">
                                        <i class="ri-inbox-archive-line"></i>
                                        <p>Nenhum registro encontrado</p>
                                    </div>
                                </td>
                            </tr>
                        <% }else{%>
                        <% students.forEach(student => { %>
                            <tr data-student-id="<%= student.id %>">
                                <td><%= student.name %></td>
                                <td><%= student.ra || '-' %></td>
                                <td><%= student.class %></td>
                                <td>
                                    <div class="action-buttons">
                                        <button class="action-button" data-open-modal="editStudentModal" data-row="true">
                                            <i class="ri-edit-line"></i>
                                        </button>
                                        <button class="action-button delete" data-open-modal="deleteStudentModal" data-row="true">
                                            <i class="ri-delete-bin-line"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div id="pagination"></div>
        </main>
        
        <!-- Modal Adicionar Aluno -->
        <div class="modal" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="addStudentModalLabel">Adicionar Novo Usuário</h2>
                        <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addStudentForm">
                            <div class="form-group mb-3">
                                <label for="userType">Tipo de Usuário</label>
                                <select class="form-control" id="userType" name="userType" required onchange="isTeacher(this)">
                                    <option value="">Selecione o tipo de usuário</option>
                                    <option value="student">Aluno</option>
                                    <option value="teacher">Professor</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="studentName">Nome</label>
                                <input type="text" class="form-control" id="studentName" name="name" required>
                            </div>
                            <div class="form-group mb-3" id="raField">
                                <label for="studentRA">RA</label>
                                <input type="text" class="form-control" id="studentRA" name="ra" required>
                            </div>
                            <div class="form-group mb-3">
                                <label id="classLabel" for="studentClass">Sala</label>
                                <select class="form-control" id="studentClass" name="class" required>
                                    <option value="">Selecione uma sala</option>
                                    <option value="6A">6º Ano A</option>
                                    <option value="6B">6º Ano B</option>
                                    <option value="7A">7º Ano A</option>
                                    <option value="7B">7º Ano B</option>
                                    <option value="8A">8º Ano A</option>
                                    <option value="8B">8º Ano B</option>
                                    <option value="9A">9º Ano A</option>
                                    <option value="9B">9º Ano B</option>
                                    <option value="1A">1ª Ano A</option>
                                    <option value="1B">1ª Ano B</option>
                                    <option value="2A">2ª Ano A</option>
                                    <option value="2B">2ª Ano B</option>
                                    <option value="3A">3ª Ano A</option>
                                    <option value="3B">3ª Ano B</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                            Cancelar
                        </button>
                        <button type="submit" form="addStudentForm" class="btn btn-primary" onclick="addUser()">
                            <i class="ri-save-line"></i>
                            Adicionar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Editar Aluno -->
        <div class="modal" id="editStudentModal" tabindex="-1" aria-labelledby="editStudentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="editStudentModalLabel">Editar Aluno</h2>
                        <button type="button" class="close-modal" onclick="closeModal('editStudentModal')">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editStudentForm">
                            <input type="hidden" id="editStudentId" name="id">
                            <div class="form-group">
                                <label for="editStudentName">Nome</label>
                                <input type="text" class="form-control" id="editStudentName" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="editStudentClass">Sala</label>
                                <select class="form-control" id="editStudentClass" name="class" required>
                                    <option value="6A">6º Ano A</option>
                                    <option value="6B">6º Ano B</option>
                                    <option value="7A">7º Ano A</option>
                                    <option value="7B">7º Ano B</option>
                                    <option value="8A">8º Ano A</option>
                                    <option value="8B">8º Ano B</option>
                                    <option value="9A">9º Ano A</option>
                                    <option value="9B">9º Ano B</option>
                                    <option value="1A">1ª Ano A</option>
                                    <option value="1B">1ª Ano B</option>
                                    <option value="2A">2ª Ano A</option>
                                    <option value="2B">2ª Ano B</option>
                                    <option value="3A">3ª Ano A</option>
                                    <option value="3B">3ª Ano B</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('editStudentModal')">
                            <i class="ri-close-line"></i>
                            Cancelar
                        </button>
                        <button type="submit" form="editStudentForm" class="btn btn-primary" onclick="editUser()">
                            <i class="ri-save-line"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Excluir Aluno -->
        <div class="modal fade" id="deleteStudentModal" tabindex="-1" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="deleteStudentModalLabel">Excluir Aluno</h2>
                        <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="deleteStudentId">
                        <p>Tem certeza que deseja excluir o aluno <strong id="deleteStudentName"></strong>?</p>
                        <p class="text-danger">Esta ação não pode ser desfeita!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-danger" id="confirmDelete" onclick="deleteUser()">
                            <i class="ri-delete-bin-line"></i>
                            Excluir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/../../js/menu.js"></script>
    <script src="/../../js/table.js"></script>
    <script src="/../../js/users.js"></script>
    <script src="/../../js/toast.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addStudentForm = document.getElementById('addStudentModal');
            addStudentForm.addEventListener('submit', async function(e) { e.preventDefault();});

            const editStudentForm = document.getElementById('editStudentModal');
            editStudentForm.addEventListener('submit', async function(e) { e.preventDefault();});

            const deleteStudentForm = document.getElementById('deleteStudentModal');
            deleteStudentForm.addEventListener('submit', async function(e) { e.preventDefault();});
        });
        </script>
    <script>
    $(document).ready(function(){
        const tableManager = new TableManager('booksTable', {
            itemsPerPage: 5,
            columns: [
                { field: 'title', title: 'Título' },
                { field: 'autor', title: 'Autor' },
                { field: 'actions', title: 'Ações' }
            ],
            sortConfig: {
                field: 'title',
                direction: 'asc'
            }
        });
    });

    // Funções para manipulação de modais
    function openModal(modalId) {
        document.getElementById(modalId).classList.add('show');
    }

    function closeModal(modalId) {
        document.getElementById(modalId).classList.remove('show');
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Configurar listeners para os botões de modal
        document.querySelectorAll('[data-open-modal]').forEach(button => {
            button.addEventListener('click', function() {
                const modalId = this.dataset.openModal;
                const row = this.closest('tr');
                
                if (modalId === 'editStudentModal') {
                    const studentId = row.dataset.studentId;
                    const studentName = row.cells[0].textContent;
                    const studentClass = row.cells[2].textContent;

                    document.getElementById('editStudentId').value = studentId;
                    document.getElementById('editStudentName').value = studentName;
                    document.getElementById('editStudentClass').value = studentClass;
                } else if (modalId === 'deleteStudentModal') {
                    const studentId = row.dataset.studentId;
                    const studentName = row.cells[0].textContent;

                    document.getElementById('deleteStudentId').value = studentId;
                    document.getElementById('deleteStudentName').textContent = studentName;
                }
                
                openModal(modalId);
            });
        });

        // Configurar botões de fechar modal
        document.querySelectorAll('.close-modal, .btn-secondary').forEach(button => {
            button.addEventListener('click', function() {
                const modal = this.closest('.modal');
                closeModal(modal.id);
            });
        });
    });
</script>
</body>
</html>